@model FAQSearchViewModel
@{
    Layout = "_Layout";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">FAQ</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form method="get" asp-action="Index" asp-controller="FAQ" id="frmSearch">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="tdSize">검색</td>
                                <td><input type="text" asp-for="Keyword" class="form-control form-control-sm" placeholder="제목을 입력하세요"></td>
                            </tr>
                            <tr>
                                <td>기 간</td>
                                <td>
                                    <div style="display:inline;">
                                        <input type="hidden" asp-for="TermType" id="termType" />
                                        <input type="hidden" asp-for="AllRange" id="AllRange" />
                                        <a href="#none" name="date-term" class="d-none d-sm-inline-block btn btn-sm btn-tertiary shadow-sm date-term @(Model.TermType == 1 ? "active" : "")" data-term="1">7일</a>
                                        <a href="#none" name="date-term" class="d-none d-sm-inline-block btn btn-sm btn-tertiary shadow-sm date-term @(Model.TermType == 2 ? "active" : "")" data-term="2">1개월</a>
                                        <a href="#none" name="date-term" class="d-none d-sm-inline-block btn btn-sm btn-tertiary shadow-sm date-term @(Model.TermType == 3 ? "active" : "")" data-term="3">3개월</a>
                                        <a href="#none" name="date-term" class="d-none d-sm-inline-block btn btn-sm btn-tertiary shadow-sm date-term @(Model.TermType == 0 ? "active" : "")" data-term="0">전체</a>
                                    </div>
                                    <div class="input-group input-daterange" style="display:inline;">
                                        <input type="text" asp-for="FromDate" value="@Model.FromDate.ToString("yyyy-MM-dd")" id="startDate" class="form-control bg-light border-0 small"
                                               style="width: 15%; display: inline; margin-bottom: 3px" readonly="readonly" />
                                        <i class="far fa-calendar-alt"></i> -
                                        <input type="text" asp-for="ToDate" value="@Model.ToDate.ToString("yyyy-MM-dd")" id="endDate" class="form-control bg-light border-0 small"
                                               style="width: 15%; display: inline; margin-bottom: 3px" readonly="readonly" />
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>상태</td>
                                <td>
                                    @foreach (var status in Model.DisplayYNs)
                                    {
                                        <input type="radio" asp-for="DisplayYN" value="@status.Value" class="ml-2" style="margin-left: 10px;" /><label class="ml-1">@status.Text</label>
                                    }
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">검색</button>
                        <a asp-action="Index" asp-controller="FAQ" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">초기화</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-right">
                <a asp-action="Add" asp-controller="FAQ" asp-route-returnUrl="@Model.ReturnUrl" class="d-none d-sm-inline-block btn btn-sm btn-secondary2 shadow-sm">
                    FAQ등록
                </a>
            </h6>
        </div>

        <!-- 전체현황 테이블 -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " width="100%" cellspacing="0" style="text-align: center">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>조회수</th>
                            <th>상태</th>
                            <th>등록일</th>
                            <th>수정일</th>
                            <th>작성자</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int currentno = Model.Count - Model.PageFrom;
                        }
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="8" style="text-align: center">리스트가 없습니다</td>
                            </tr>
                        }
                        @foreach (var item in Model.DataModel)
                        {
                            var displayClass = item.StatusName == "미노출" ? "text-danger" : "";
                            <tr>
                                <td>@currentno</td>
                                <td style="text-decoration: underline;" class="tdLeft">
                                    <a asp-action="Edit" asp-controller="FAQ" asp-route-id="@item.Board_ID" asp-route-returnUrl="@Model.ReturnUrl">@item.Title</a>
                                </td>
                                <td>@item.Hits?.ToString("#,###")</td>
                                <td class="@displayClass">@item.StatusName</td>
                                <td>@item.Regist_DateTime?.ToString("yyyy-MM-dd  HH:mm")</td>
                                <td>@item.Update_DateTime?.ToString("yyyy-MM-dd  HH:mm")</td>
                                <td>@item.Update_User</td>
                                <td>
                                    <a asp-action="Delete" asp-controller="FAQ" asp-route-id="@item.Board_ID" class="text-decoration-underline btnDelete">삭제</a>
                                </td>
                            </tr>
                            currentno--;
                        }
                    </tbody>
                </table>
                @if (Model.Count > 0)
                {
                    await Html.RenderPartialAsync("_PaginationPartial", Model);
                }
            </div>
        </div>
        <!-- 전체현황 테이블 -->
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function (e) {
            datePickerSet();
        });

        $(".date-term").click(function (e) {
            $(".date-term").removeClass('active');
            $(this).addClass('active');
            var t = $(this).data('term');

            if (t == 0) {  //전체기간
                $("#AllRange").val("True");
                //시작날짜박스 + 종료날짜박스 , 시작시간박스 + 종료시간박스 색상 처리 및 비활성화
                datePickerSet();

            } else {
                $("#AllRange").val("False");
                datePickerSet();

                var st = $('#startDate');
                var ed = $('#endDate');
                var now = new Date();
                var tmpDt = new Date();
                ed.val(toStringByFormatting(now, '-'));

                if (t == 1) {
                    tmpDt.setDate(tmpDt.getDate() - 7);
                    st.val(toStringByFormatting(tmpDt, '-'));
                } else if (t == 2) {
                    tmpDt.setMonth(tmpDt.getMonth() - 1);
                    tmpDt.setDate(tmpDt.getDate() + 1);

                    st.val(toStringByFormatting(tmpDt, '-'));
                } else if (t == 3) {
                    tmpDt.setMonth(tmpDt.getMonth() - 3);
                    tmpDt.setDate(tmpDt.getDate() + 1);

                    st.val(toStringByFormatting(tmpDt, '-'));
                }
            }
            $('#termType').val(t)
        });

        $(".btnDelete").on("click", function (e) {
            e.preventDefault();
            var result = confirm('정말 삭제하시겠습니까?');

            if (result) {
                $.ajax({
                    url: $(this).attr('href'),
                    method: 'DELETE'
                }).done(function (data, textStatus, jqXHR) {
                    if (data['status'] == true) {
                        //페이지 다시 읽기
                        location.reload();
                    } else {
                        var errors = data['message'];
                        alert(errors);
                    }
                });
            }
        });

        function datePickerSet() {
            var $from = $('#startDate');
            var $to = $('#endDate');

            if ($("#AllRange").val() == "True") {

                $from.datepicker("remove").removeClass("bg-light").addClass("bg-disable");
                $to.datepicker("remove").removeClass("bg-light").addClass("bg-disable");

            } else {

                $from.datepicker({
                    showOn: "both",
                    todayBtn: "linked",
                    autoclose: true,
                    language: "ko",
                    format: "yyyy-mm-dd"
                });

                $to.datepicker({
                    showOn: "both",
                    todayBtn: "linked",
                    autoclose: true,
                    language: "ko",
                    format: "yyyy-mm-dd"
                });

                $from.removeClass("bg-disable").addClass("bg-light");
                $to.removeClass("bg-disable").addClass("bg-light");

            }
        }

    </script>
}