@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@using Microsoft.Extensions.Hosting
@{
    ViewData["Title"] = "바른컴퍼니 모바일 초대장";
    Layout = null;

    var adminUrl = "https://admin.barunsoncard.com/";
    if (hostingEnv.IsDevelopment() || hostingEnv.IsEnvironment("Local"))
    {
        adminUrl = "https://dev-admin.barunsoncard.com/";
    }
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    @*@User.Identity.IsAuthenticated*@
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Mcard Login 😊</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Member", FormMethod.Post, new { id = "Loginfrm", @class = "user" }))
                                    {
                                        @*<form class="user">*@
                                        <div class="form-group">
                                            <input type="email" name="ADMIN_ID" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="아이디를 입력하세요">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="ADMIN_pwd" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="비밀번호를 입력하세요">
                                        </div>
                                        @*<a href="/Admin/ProductList" class="btn btn-primary btn-user btn-block">*@
                                        <a href="#none" onclick="LoginCheck();" class="btn btn-primary btn-user btn-block">
                                            로그인
                                        </a>
                                        @*</form>*@

                                        @Html.Hidden("ReturnUrl", @ViewData["ReturnUrl"])
                                    }
                                    <hr>
                                    <div class="text-center" style="font-size: .8rem;">
                                        <ul>
                                            <li class="text-danger">중요: 통합관리자 계정과 통합 운영 됩니다.</li>
                                            <li class="text-danger">기존 모초 관리자 계정으로 로그인 할 수 없습니다.</li>
                                            <li>계정 정보 및 비밀번호 변경은 <a href="@adminUrl" class="text-decoration-underline">통합 관리자</a> <a href="#" class="showmyprofile">My Profile</a> 메뉴를 이용해주세요.</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="modal fade" id="popModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 260px;">
            <div class="modal-content" id="popModalContent">
                <img src="~/img/login/admin_myprofile.jpg" alt="myprofile" />
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.js" asp-append-version="true"></script>

    <script>


        $("[name=ADMIN_ID], [name=ADMIN_pwd]").keypress(function (event) {
            if (event.which == 13) {
                $("#Loginfrm a").click();
                return false;
            }
        });

        function LoginCheck() {
            if ($("[name=ADMIN_ID]").val().trim() == '') {
                alert("아이디를 입력하세요");
                $("[name=ADMIN_ID]").focus();
                return;
            }
            if ($("[name=ADMIN_pwd]").val().trim() == '') {
                alert("비밀번호를 입력하세요");
                $("[name=ADMIN_pwd]").focus();
                return;
            }

            $("#Loginfrm").submit();
        }
        $("a.showmyprofile").on('click', function(e) {
            e.preventDefault();
            $("#popModal").modal("show");
        });

    </script>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">

            alert('@ViewBag.Message');
        </script>
    }
</body>
</html>
