@model KakaoRemitViewModel<KakaoAccountDataModel>
@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">축의금 계좌 상세</h5>
    <button class="close" type="button" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div style="float:left;">
                <h6 class="m-0 font-weight-bold text-primary">
                    @Model.UserName 님
                </h6>
            </div>
            <div style="float:right;">
                <button type="button" class="btn btn-sm btn-primary btn-sort-save" data-href="@Url.Action("AccountChangeSort","KakaoRemit", new { id = Model.InvitationID})">순서저장</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr class="tdCenter">
                            <th>구분</th>
                            <th>예금주</th>
                            <th>은행</th>
                            <th>계좌번호</th>
                            <th>기능</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DataModel.Count == 0)
                        {
                            <tr>
                                <td colspan="5" style="text-align: center">리스트가 없습니다</td>
                            </tr>
                        }
                        @foreach (var item in Model.DataModel)
                        {
                            int idx = 0;
                            <tr class="account-list" data-accountid="@(item.AccountId)">
                                <td class="tdCenter account-type-code">
                                    <div style="float:left;">@(Model.AccountTypeList.FirstOrDefault(m => m.Value==item.AccountTypeCode)?.Text)</div>
                                    <div class="sort_order" style="float:right; text-align:center; width:60px;">
                                        @if (idx != 0)
                                        {
                                            <button type="button" class="btn btn-sm btn-dark btn-up">↑</button>
                                        }
                                        @if (idx != Model.DataModel.Count - 1)
                                        {
                                            <button type="button" class="btn btn-sm btn-dark btn-down">↓</button>
                                        }
                                    </div>
                                </td>
                                <td class="tdCenter depositor-name" >@(item.DepositorName)</td>
                                <td class="tdCenter bank-code">@(Model.BankList.FirstOrDefault(m => m.Value == item.BankCode)?.Text)</td>
                                <td class="tdCenter account-number">@(item.AccountNumber)</td>
                                <td class="tdCenter">
                                    <button class="btn btn-sm btn-warning btn-edit"
                                            data-accountid="@(item.AccountId)"
                                            data-accounttypecode="@(item.AccountTypeCode)"
                                            data-depositorname="@(item.DepositorName)"
                                            data-bankcode="@(item.BankCode)"
                                            data-accountnumber="@(item.AccountNumber)">
                                        수정
                                    </button>
                                </td>

                            </tr>
                            idx++;
                        }

                    </tbody>
                </table>

            </div>
            <div style="display:none;" id="edit_view">
                <form id="frmAccountSave" asp-action="AccountModify" asp-controller="KakaoRemit" asp-route-id="@Model.InvitationID" method="post">
                    <input type="hidden" name="AccountId" value="" />
                    <table class="table table-bordered" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="width:150px;">구분</th>
                                <th style="width:150px;">예금주</th>
                                <th style="width:200px;">은행</th>
                                <th>계좌번호</th>
                                <th style="width:80px;">기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">
                                    <select name="AccountTypeCode" asp-items="Model.AccountTypeList" class="form-control form-control-sm">
                                    </select>
                                </td>
                                <td style="text-align:center;">
                                    <input type="text" name="DepositorName" maxlength="40" class="form-control form-control-sm" placeholder="예금주 입력">
                                </td>
                                <td style="text-align:center;">
                                    <select name="BankCode" asp-items="Model.BankList" class="form-control form-control-sm"></select>

                                </td>
                                <td style="text-align:center;">
                                    <input type="text" name="AccountNumber" maxlength="30" class="form-control form-control-sm" placeholder="계좌번호입력( - 없이 숫자만 입력하세요)">
                                </td>
                                <td><button type="submit" class="btn btn-sm btn-primary btn-save">저장</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align: center; display: block;">
</div>